@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('/assets/css/themes.css');

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--bgcolor);
  color: var(--txtcolor);
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: black;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #101010;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--txtcolor);
}

.title {
  font-size: 30px;
}

.searchInput {
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
  width: 100%;
  /* Occupy full width */
  max-width: 400px;
  /* Limit maximum width */
  margin: 20px auto;
  /* Center horizontally */
  border-radius: 10px;
  border: none;
  user-select: none;
  outline: none;
}

a.link:hover {
  font-family: 'Poppins', sans-serif;
  background-color: transparent;
  transform: scale(1.1);
  color: var(--txtcolor);
  border: none;
  padding: 1px 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
  border-radius: 12px;
  box-shadow: 0 0 1vw var(--txtcolor);
}
.ad {
  font-size: 50px;
}
.injmwwetrust {
  font-size: 30px;
}
.span {
  width: fit-content;
}

.image {
  border-radius: 20px;
}

.button {
  font-family: 'Poppins', sans-serif;
  background-color: transparent;
  border: none;
  color: white;
  padding: 1px 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s,
    color 0.2s, transform .4s, box-shadow 1s;
}
.navbar {
  width: 99.5%;
  padding: 5px;
  margin: 5px;
  display: flex;
  z-index: 9999;
  align-items: center;
  align-self: center;
  top: 2%;
  height: 75px;
  backdrop-filter: blur(10px);
  opacity: 0.7;
  border-radius: 10px;
  background: var(--navbar);
  box-shadow: 0px 0px 10px rgba(190, 190, 190, 0.7);
  justify-content: space-between;
  font-size: 20px;
}

.icons {
  display: flex;
  align-items: center;
}

.logo {
  border-radius: 25px;
  padding: 20px;
  width: 100px;
  height: px;
  display: flex;
  transition: 0.3s;
}

.logo:hover {
  transform: scale(1.1);
  width: 110px;
}

.navlink {
  font-size: 16px;
  margin: 0px 10px;
  text-decoration: none;
  color: var(--txtcolor);
  transition: 0.3s;
}
.navlink:hover {
  transform: scale(1.1);
}
.box {
  display: flex;
  margin: 20px auto;
  flex-wrap: wrap;
  align-content: center;
}

#themepicker {
  font-family: 'Montserrat', sans-serif;
  text-shadow: 0 0 30px rgba(255, 255, 255, 0.7);
  color: var(--color);
  background-color: var(--bgcolor);
  border-color: var(--color);
  width: 150px;
  height: 30px;
  border-style: solid;
  border-radius: 8px;
  font-size: 18px;
  transition-timing-function: ease-in-out;
  transition: 1s;
}

select {
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: var(--bgcolor);
  width: 150px;
  height: 30px;
  border-radius: 8px;
  font-size: 18px;
  transition-timing-function: ease-in-out;
  transition: 1s;
}
select option {
  font-weight: bold;
  color: white;
  background: #101010; 
}

.btn {
  border-radius: 10px;
  margin-top: 10px;
  background: transparent;
  color: white;
  text-align: center;
  width: 150px;
  height: 30px;
  border-style: solid;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s ease all;
}


.searchInput {
  background-color: #262626;
  color: white;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 8px 12px;
  transition: 1s;
  width: 550px;
}

.searchInput:focus {
  border-color: var(--navbar);
  box-shadow: 0 0 5px var(--txtcolor);
  outline: none;

}


.searchInput:hover {
  width: 900px;

}



.input2 {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  cursor: text;
  border-style: solid;
  margin-top: 10px;
  border: none;
  background: black;
  color: white;
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  outline: none;
}

.header {
   background-color: #262626; 
    color: #fff; 
    text-align: center;
    width: 100%;
  height: 20%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}