@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('/assets/css/themes.css');

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--bgcolor);
  color: var(--txtcolor);
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: black;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #101010;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--txtcolor);
}

.title {
  font-size: 30px;
}

.searchInput {
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
  width: 100%;
  /* Occupy full width */
  max-width: 400px;
  /* Limit maximum width */
  margin: 20px auto;
  /* Center horizontally */
  border-radius: 10px;
  border: none;
  user-select: none;
  outline: none;
  font-family: 'Quicksand', sans-serif;
}

a.link:hover {
  font-family: 'Poppins', sans-serif;
  background-color: transparent;
  transform: scale(1.1);
  color: var(--txtcolor);
  border: none;
  padding: 1px 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 12px;
  box-shadow: 0 0 1vw var(--txtcolor);
  margin: 15px;
}
.injmwwetrust {
  font-size: 30px;
  color: gray;
}
.span {
  width: fit-content;
}

.image {
  border-radius: 20px;
}

.button {
  font-family: 'Poppins', sans-serif;
  background-color: transparent;
  border: none;
  color: white;
  padding: 1px 1px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s,
    color 0.2s, transform .4s, box-shadow 1s;
  margin: 15px;
  display: inline-block;
}
.navbar {
  width: 97.5%;
  padding: 5px;
  margin: 5px;
  display: flex;
  z-index: 9999;
  align-items: center;
  align-self: center;
  top: 0.5%;
  height: 75px;
  backdrop-filter: blur(10px);
  opacity: 0.7;
  border-radius: 10px;
  background: var(--navbar);
  box-shadow: 0px 0px 10px var(--txtcolor);
  justify-content: space-between;
  font-size: 20px;
  position: fixed;
}

.icons {
  display: flex;
  align-items: center;
}

.logo {
  border-radius: 25px;
  padding: 20px;
  width: 100px;
  height: px;
  display: flex;
  transition: 0.3s;
}

.logo:hover {
  transform: scale(1.1);
  width: 110px;
}

.navlink {
  font-size: 16px;
  margin: 0px 10px;
  text-decoration: none;
  color: var(--txtcolor);
  transition: 0.3s;
}
.navlink:hover {
  transform: scale(1.1);
}
.box {
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
  justify-content: center;
}

#themepicker {
   padding: 15px;
    margin-bottom: 20px;
    width: calc(50% - 30px);
    border: none;
    border-radius: 5px;
    background-color: var(--navbar);
    color: #fff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

#themepicker:focus {
  outline: none;
  background-color: var(--navbar);
}

.ez {
  color: var(--txtcolor);
  transition: 0.5s;
  font-size: 30px;
  transform: rotate(360deg);
}

.ez:hover {
   transform: rotate(360deg);
color: darkgoldenrod;
}


select {
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: var(--navbar);
  width: 150px;
  height: 30px;
  border-radius: 8px;
  font-size: 18px;
  transition-timing-function: ease-in-out;
  transition: 1s;
}
select option {
  font-weight: bold;
  color: white;
  background: #101010; 
}

.btn {
  background-color: var(--navbar);
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px var(--txtcolor);
}
.btn:hover {
  background-color: #444;
}


.searchInput {
  background-color: #262626;
  color: white;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 8px 12px;
  transition: 1s;
  width: 550px;
}

.searchInput:focus {
  border-color: var(--navbar);
  box-shadow: 0 0 5px var(--txtcolor);
  outline: none;

}


.searchInput:hover {
  width: 900px;

}


.input2, select {
  padding: 15px;
  margin-bottom: 20px;
  width: calc(50% - 30px);
  border: none;
  border-radius: 10px;
  background-color: black;
  color: white;
  box-shadow: 0 0 10px var(--navbar);
  transition: 0.6s;
}
.input2:focus, select:focus {
  outline: none;
  background-color: black;
}
.section {
  background-color: var(--navbar);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px var(--txtcolor);
}
.section h4 {
  margin-top: 0;
  color: var(--txtcolor); /* made by clipped (: */
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
hr {
  border: none;
  border-top: 1px solid var(--txtcolor);
  margin: 20px 0;
}
.header {
  font-family: 'Josefin Sans', sans-serif;
   background-color: transparent; 
    color: yellow; 
  border: black;
    text-align: center;
    width: 100%;
  height: 20%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
  font-size: 21px;
}
  .start-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

  .featured {
    filter: blur(5px);
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    transition: filter 0.3s ease;
  }
#other {
   border: 5px solid black;
  padding: 15px;
  width: 225px;
  border-radius: 10px;
  font-size: 1vw;
  cursor: pointer;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  transition: all .2s ease-in-out;
  z-index: 1;
}

#credit-button {
  border: 5px solid black;
  padding: 10px;
  margin: 15px;
  width: 150px;
  border-radius: 10px;
  font-size: 2vw;
  cursor: pointer;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  transition: all .2s ease-in-out;
  z-index: 1;
}

#credit-button:hover {
  width: 250px;
  transition-duration: 0.3s;
  color: var(--txtcolor);
  background-color: var(--navbar);
}
#other:hover {
  width: 275px;
  transition-duration: 0.3s;
  color: white;
  background-color: var(--bgcolor);
}

#start-button {
 border: 5px solid black;
  padding: 15px;
  width: 200px;
  border-radius: 10px;
  font-size: 1vw;
  cursor: pointer;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  transition: all .2s ease-in-out;
  z-index: 1;
}

#start-button:hover {
  width: 250px;
  transition-duration: 0.3s;
  color: darkslategrey;
  background-color: #282834;
}
.partner {
  float: left;
  margin: 20px;
  flex-wrap: wrap;
border: 5px solid black;
background-color: #383838;
padding: 10px;
width: 375px;
border-radius: 8px;
height: fit-content;
}
.partner .img {
border: 5px solid black;
border-radius: 10px;
  width: 55%;
  height: 35%;
  justify-content: center;
}
.partner-text p {
font-size: 10px;
}
.partner-text h2 {
font-size: 20px;
}
.all {
  justify-content: center;
}
.partner img {
  width: 200px;
}
.broken {
  color: red;
  font-weight: bold;
}
#customContextMenu {
  border: 1px solid black;
  background-color: var(--navbar);
  color: var(--txtcolor)e;
  border-radius: 10px;
}